boto3==1.13.16
botocore==1.16.16
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
dataclasses==0.7
docutils==0.15.2
filelock==3.0.12
idna==2.9
jmespath==0.10.0
joblib==0.15.1
nltk==3.4.5
numpy==1.18.2
python-dateutil==2.8.1
regex==2020.5.14
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
tokenizers==0.5.2
torch==1.4.0
tqdm==4.46.0
transformers==2.7.0
urllib3==1.26.5
